/

    ="@results: #{@results.inspect}"
-if @username && !@results
    %p
        #{@username} doesn't have any catchphrases!
-elsif @username
    %p
        #{@username}'s catchphrases are:
        %ul
            - for result in @results
                %li
                    #{result.catchphrase}

    %p
        Leave a message for #{@username}!
        %form{:action => :leave_message, :method => 'post'}
            %input{:type => 'hidden', :name => 'for_user_id', :value => @queried_user.id}
            %textarea{:name => 'message'}
            %input{:type => 'submit', :value => 'Submit! OBEY!'}

%p
    %h
        Catchphrase Engine!
%p
    %form{:action => :get_catchphrases, :method => 'post'}
        %input{:type => 'text', :name => 'username', :value => @username}
        %input{:type => 'submit', :value => 'Get Catchphrases!'}
